@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.966);
      color: black;
      width: 80%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }
  .nav-link{
      color: black;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

#home ,#custlist ,#view ,
#money{
    height:100%;
    width: 100%;
    margin: 0px;
}
}
@media only screen and (max-width: 425px) {
    #home ,#custlist ,#view ,
    #money{
        height:100%;
        width: 100%;
        margin: 0px;
    }
    .hero {
        background: #cccccc9f;
        height: 65vh;
        width: 90vw;
      }
      .hero-cont h1 {
        font-size: 3rem;
        }
        .hero-cont p{
           width: 100%;
           text-align: justify; 
        }
}
